page-about {
    ion-card {
        position: relative;
        text-align: center;
        height: 35%;
      }

      .card-title2 {
        position: absolute;
        top: 20%;
        font-size: 17px;
        width: 100%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: rgba(0, 0, 0, 0.705);
        width: 50%;
        display: block;
      }
    
      .card-title4 {
        position: absolute;
        top: 20%;
        font-size: 17px;
        width: 100%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: rgba(0, 0, 0, 0.705);
        width: 50%;
        display: block;
      }
    
      .test{
          float: right;
        left: 50%;
          position: absolute;
          top: 20%;
          font-size: 17px;
          width: 100%;
          font-weight: bold;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          text-align: right;
          padding-left: 1em;
          padding-right: 1em;
          padding-top: 1em;
          padding-bottom: 1em;
          background-color: rgba(0, 0, 0, 0.705);
          width: 50%;
   
      }
      .card-title5{
        float: right;
      left: 50%;
        position: absolute;
        top: 20%;
        font-size: 17px;
        width: 100%;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: right;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: rgba(0, 0, 0, 0.705);
        width: 50%;
 
    }
   

}
