page-login {
    .header{
        background-color: aqua;
        height: 50%;;
    }
}
    .log{
        text-align: center;
    }
    .button1{
        width: 70%;
        color: #73a76f;
        border: 1px solid white;
        background-color: #3F3F3F;
        

    }
    .text{
        text-align: center;
        color: #73a76f;
        font-size: 70px;
         font-weight: 1;

    }
    .headerText{
        text-align: center;
        align-content: center;
    }
    .item{
        text-align: center;
        background-color: rgba(0,0,0,0);
        color: #73a76f;
        width: 100%;
    }
    .items  {
        text-align: center;
        align-content: center;
        margin: 0 auto;
        margin-right: 2%
    }
    .text3{
        color: white;
        text-align: center;
        font-weight: 1;
        align-content: center;
    }

