page-book {

    .card-title22{
        float: right;
        position: absolute;
            top: 35%;
          font-size: 17px;
          font-weight: bold;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          text-align: left;
          padding-left: 1em;
          padding-right: 1em;
          padding-top: 1em;
          padding-bottom: 1em;
          background-color: rgba(0, 0, 0, 0.605);
          width: 50%;
      }  
     
}
